@use "@/styles" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--theme-color-primary);
  transition: opacity 300ms ease;

  & + * {
    padding-top: var(--header-height);
  }

  &.inactive {
    @media ($laptop-lg) {
      opacity: 0.5;
    }
  }
}

.container {
  @include Container;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.75rem;
  height: var(--header-height);
}

.logoGroup {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  img {
    max-width: 4rem;
  }
}

.logoText {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.logoTextTitle {
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

.logoTextSubtitle {
  line-height: normal;
  white-space: nowrap;
}

.nav {
  display: none;

  @media ($laptop-lg) {
    display: flex;
    gap: 2rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  li {
    &::before {
      display: none;
    }
  }
}

.contactsGroup {
  display: none;

  @media ($laptop-lg) {
    display: flex;
    gap: 2rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactLink {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mobileMenu {
  @media ($laptop-lg) {
    display: none;
  }
}
