@use "@/styles" as *;

.arrow {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  transition: opacity 300ms ease;
  svg {
    max-width: 100%;
  }

  @media ($laptop) {
    display: none;
  }
}
