@use "@/styles" as *;

.footer {
  --font-base: 1rem;
  font-size: var(--font-base);
  background-color: var(--color-focus);
  padding: 2.5rem 0;
}

.container {
  @include Container;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.links {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media ($laptop) {
    flex-direction: row;
    gap: 2rem;
  }
}

.socials {
  display: flex;
  gap: 1rem;

  li::before {
    display: none;
  }
}

.socialIcon {
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  &:hover {
    svg path {
      fill: var(--color-accent);
    }
  }
}

.mobileSocials {
  @extend .socials;
  margin-top: 1rem;

  @media ($laptop) {
    display: none;
  }
}

.desktopSocials {
  @extend .socials;
  display: none;

  @media ($laptop) {
    display: flex;
  }
}

.linksGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include laptop {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}

.infoBusiness {
  @include laptop {
    text-align: right;
  }
}

.infoAdress{
  display: flex;
  flex-direction: column;
  gap: 1rem
}
