@use "@/styles" as *;

.footer {
  --font-base: 1rem;
  font-size: var(--font-base);
  background-color: var(--color-focus);
  padding: 2.5rem 0;
}

.container {
  @include Container;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media ($laptop) {
    align-items: flex-start;
    text-align: left;
  }
}

.links {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media ($laptop) {
    flex-direction: row;
    gap: 2rem;
  }
}

.socials {
  display: flex;
  gap: 1rem;

  li::before {
    display: none;
  }
}

.socialIcon {
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  &:hover {
    svg path {
      fill: var(--color-accent);
    }
  }
}

.mobileSocials {
  @extend .socials;

  @media ($laptop) {
    display: none;
  }
}

.desktopSocials {
  @extend .socials;
  display: none;

  @media ($laptop) {
    display: flex;
  }
}

.linksGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media ($laptop) {
    justify-content: space-between;
  }
}

.info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media ($laptop) {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
}

.infoBusiness {
  @include laptop {
    text-align: right;
  }
}

.infoAdress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
