@use "@/styles" as *;

.container {
  @include Container;
}

.services {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;

  @include laptop {
    flex-direction: row;
    column-gap: 5rem;
    justify-content: space-around;

    & > * {
      flex-basis: 40%;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
}

.serviceTitle {
  max-width: 18rem;
  margin-inline: auto;

  @include tablet {
    max-width: none;
  }

  @include laptop {
    text-align: left;
    margin-inline: 0;
  }
}

.serviceText {
  margin-top: 2.5rem;
}

.serviceContent {
  display: flex;
  flex-direction: column;

  @include laptop {
    max-width: 32.5rem;
  }
}

.serviceList {
  margin-top: 1.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.serviceButton {
  margin-top: 1.5rem;
  align-self: center;

  @include laptop {
    align-self: flex-start;
  }
}
