@use "@/styles" as *;

.container {
  @include Container;
}

.priceList {
  margin-top: var(--margin-section-title);
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem 2rem;
  // max-width: 70rem;

  @media ($tablet){
    grid-template-columns: 1fr 1fr;
  }

  @media ($desktop) {
    grid-template-columns: auto;
    grid-auto-flow: column;
  }

  li::before {
    display: none;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &_title {
    font-size: var(--font-heading-2);
  }

  &_special {
    color: var(--color-accent);
  }
}
